*.suo
*.user
*.Resharper
*.schemaview
*.ncrunch*
*.log
*.dbmdl
*.jfm
_ReSharper.*
bin
obj
csx
packages
phantom.build
backup
*.nupkg
TestResults
.idea
.vs
/TestResult.xml
/Deployment/Result
App_Data


