<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true" keepVariablesOnReload="true" internalLogLevel="Info">
  <targets>
    <target xsi:type="File" name="File"
            fileName="${var:logFolder}\Vota-webapi.log"
            archiveFileName="${var:logFolder}\Vota-webapi-${shortdate}.log" maxArchiveFiles="2" archiveEvery="Day"
            layout="${date}|${level:uppercase=true}|${message} ${exception:format=ToString}|${logger}|${all-event-properties}" />

    <target xsi:type="Console" name="Console"
            layout="${date}|${level:uppercase=true}|${message} ${exception:format=ToString}|${logger}|${all-event-properties}"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="File, Console" />
  </rules>
</nlog>



