<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <modules>
        <remove name="WebDAVModule" />
      </modules>
      <handlers>
        <remove name="WebDAV" />
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="%LAUNCHER_PATH%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
        <!--<environmentVariables>
          <environmentVariable name="COMPLUS_ForceENC" value="1" />
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
          <environmentVariable name="ASPNETCORE_HOSTINGSTARTUPASSEMBLIES" value="Microsoft.AspNetCore.Watch.BrowserRefresh;Microsoft.WebTools.BrowserLink.Net" />
          <environmentVariable name="DOTNET_STARTUP_HOOKS" value="C:\Program Files\dotnet\SDK\6.0.100-rc.2.21505.57\DotnetTools\dotnet-watch\6.0.100-rc.2.21505.11\tools\net6.0\any\middleware\Microsoft.AspNetCore.Watch.BrowserRefresh.dll;C:\Program Files\Microsoft Visual Studio\2022\Community\Common7\IDE\Extensions\Microsoft\Web Tools\Browser Link\Microsoft.WebTools.BrowserLink.Net.dll" />
          <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_ENDPOINT" value="ws://localhost:51055/Vota.WebApi/" />
          <environmentVariable name="DOTNET_MODIFIABLE_ASSEMBLIES" value="debug" />
          <environmentVariable name="ASPNETCORE_AUTO_RELOAD_WS_KEY" value="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAqKpyDPsTBB3kefyYU3KfLfiNkYuGEnNDwoaJp98PXuju8FkAwmfkZXz6BFQUkpig8101hwCrQaZq/LYl6rZd8IUk2e6sn5YFmiHl/cPRvrNngNmlX1hNSz71ppMvWD3MCc5MptSIP65sH8XFfwUqSn7KKCLEwEHELDTaOIRIqzhDprmjd2vrh73srNVHsDj/vmvzECZp/0FFSz27N3+RpkxpboeU6lllpGDBoidQIpaWmlFTwZekHK8xeyBrhTRX3qpa6MJYs2SZf0anLBx6Om2y5VDwkc2MDlhDGffYnG5SipYRaRzfnje0axkDTFtZCw6LnIw0k/hL913qLicUuQIDAQAB" />
        </environmentVariables>-->
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>
